<!doctype html>
<html lang="en">
<head>
<script>
    window.addEventListener("load", activateStickyFooter);
    
    function activateStickyFooter() {
      adjustFooterCssTopToSticky(); 
      window.addEventListener("resize", adjustFooterCssTopToSticky);
    }
    
    function adjustFooterCssTopToSticky() {
      const footer = document.querySelector("#footer");
      const bounding_box = footer.getBoundingClientRect();
      const footer_height = bounding_box.height;
      const window_height = window.innerHeight;
      const above_footer_height = bounding_box.top - getCssTopAttribute(footer);
      if (above_footer_height + footer_height <= window_height) {
        const new_footer_top = window_height - (above_footer_height + footer_height);
        footer.style.top = new_footer_top + "px";
      } else if (above_footer_height + footer_height > window_height) {
        footer.style.top = null;
      }
    }
    
    function getCssTopAttribute(htmlElement) {
      const top_string = htmlElement.style.top;
      if (top_string === null || top_string.length === 0) {
        return 0;
      }
      const extracted_top_pixels = top_string.substring(0, top_string.length - 2);
      return parseFloat(extracted_top_pixels);
    }
</script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">

    <!-- Title for other pages-->
    <title>{% block title%} {% endblock %}</title>
    <style>
        body, html {
                padding: 0;
                margin: 0;
            }

        #footer {
                padding: 1rem;
                position: relative;
                background-color: red;
                color: white;
                text-align: center;
                margin-top: 10px;
            }
        h1 {
            margin-bottom: 0.5rem;
            margin-right: 8.5rem;
            /* font-style: unset; */
            font-weight: 300;
            color: aliceblue;
            font-family: 'Amatic SC', cursive;
        }
        #btnScrollToTop{
            padding-top: 5px;
            position: fixed;
            right: 10px;
            bottom: 10px;
            width: 50px;
            height: 50px;
            border-radius: 25%;
            background: #0000FF;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
            color: #ffffff;
            outline: none;
            cursor: pointer;
            z-index: 1;
            border: none;
        }
        {% comment %} CSS starts for other pages {% endcomment %}
        {% block css %}

        {% endblock %}
        {% comment %} CSS ends for other pages {% endcomment %}
    </style>
</head>

<body style="background-color:aliceblue;"  id="bdy">
<div id = 'loading' class="not-visible">
</div>
    <div id="page-container" class = "bdy">
        <div id="content-wrap">
            <!-- all other page content -->
            {% load static %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                 {% comment %} <a class="navbar-brand" href="/">STH</a> {% endcomment %}
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> 

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/blog">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blog/contact">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if user.is_authenticated %}
                                <a class="dropdown-item" href="/blog/catmenu">Categories</a>
                                <a class="dropdown-item" href="{% url 'userUpdateDetails' %}">EditProfile: {{user}}</a>
                            {% else %}
                                <a class="dropdown-item" href="/blog/catmenu">Categories</a>
                            {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
                    {% if user.is_authenticated %}
                    <a class="btn btn-success my-2 my-sm-0 mx-1" href="{% url 'blogAdd' %}" type="button">AddBlog</a>
                    <a class="btn btn-success my-2 my-sm-0 mx-1" href="{% url 'logout' %}" type="button">Logout</a>

                    {% else %}

                    <a class="btn btn-success my-2 my-sm-0 mx-1" href="{% url 'login' %}" type="button">Login</a>
                    <a class="btn btn-success my-2 my-sm-0 mx-1" href="{% url 'register' %}" type="button">Register</a>
                    {% endif %}

                <form method="get" action="/blog/search " class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search your query."
                        aria-label="Search" name="query" id="query">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
                </form>



            </nav>
            <div id="wrapper" class="wrapper">
                <span id="typed"></span>
            </div>
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                <strong>Message: </strong> {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor%}
            <!-- Body starts for other pages-->
            {% block body %}
            {% endblock %}
            <!-- Body ends for other pages-->
            <div class = "backToTop bg-primary text-black" id = "btnScrollToTop"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="40" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                </svg>
            </div>
            <footer class="footer py-3 bg-dark text-light" id="footer" > 
                    <div class="container">
                        <p class="mb-0 text-center">© blogwebapp.com</p>
                        <span class="mb-0 text-center">
                        {% comment %} <a href="" onclick="topFunction()" id="myBtn">Back to top |</a> {% endcomment %}
                        <a href="#">Privacy |</a>
                        <a href="#">Terms</a>
                        </span>
                    </div>
            </footer>
        </div>    
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    {% comment %} <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
        //Get the button:
        const mybutton = document.getElementById("btnScrollToTop");
        mybutton.addEventListener("click", function(){
            
          window.scrollTo({
               top: 0,
               left: 0,
               behaviour: "smooth",
             });
            $("html", "body").animate({scrollTop: 0}, "slow");
        });

        $('document').ready(function () {
           $('#btnScrollToTop').fadeOut(function () {
                    $(window).scroll(function() {
                        if($(this).scrollTop() > 100){
                            $('#btnScrollToTop').fadeIn();
                            console.log("fadeIn");
                        }
                        else{
                            $('#btnScrollToTop').fadeOut();
                            console.log("fadeOut");
                        }
                    });
            });
        });


        $('document').ready(function () {
            var typed = new Typed('#typed', {
                strings: ['<em>This website is in testing mode!</em>',
                    '<b>This website is in testing mode!</b>',
                    '<em>This website is in testing mode!</em>',
                    '<b>This website is in testing mode!</b>'
                ],
                // typing speed
                typeSpeed: 50,
                // time before typing starts
                startDelay: 0,
                // backspacing speed
                backSpeed: 10,
                // time before backspacing
                backDelay: 500,
                // loop
                loop: true,
                // false = infinite
                loopCount: false,
            });
        });

        function goBack() {
                window.history.back();
        }
    </script>
    <script>
    {% block js %}
    {% endblock %}
</script>
</body>
</html>